<div class="card h-100 p-3 rounded-4 gap-3">
    <p class="h5">Carga del documento</p>

    <div class="dropzone-container d-flex flex-column align-items-center justify-content-center p-4 text-center rounded-4 position-relative">
        <div class="dropzone-content">
            <i class="bi bi-cloud-upload text-primary fs-1 mb-2"></i>
            
            <p class="text-info fw-bold mb-1">Arrastra PDF, JPG o PNG</p>
            <p class="text-muted small mb-0">(menor a 5mB)</p>
        </div>
    </div>

    <div class="row">
        <p class="h5">Solicitud Asociada</p>
        <div class="col-12 mt-3">
            <label for="SolicitudAsociada" class="form-label fw-bold">Solicitud Asociada</label>    
            
            <!--Eliminar el diables cuando sea Creacion de solicitud-->
            <select id="SolicitudAsociada" class="form-select bg-light">
                <option selected value="">Solicitud de Gasto</option>
                @for(int i = 0; i < 10; i++)
                {   
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-6 mt-3">
            <label for="Total" class="form-label">Total</label>    
            <input readonly type="text" class="form-control form-control-lg rounded-4 bg-light" id="Total" placeholder="Total">
        </div>
        <div class="col-6 mt-3">
            <label for="Moneda" class="form-label">Moneda</label>    
            <input readonly type="text" class="form-control form-control-lg rounded-4 bg-light" id="Moneda" placeholder="Moneda">
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool EsCreacion {get;set;} = true;
}
