@page "/Comprobantes de Pago"
<div class="h-100 d-flex flex-column">
    
    <div class="d-flex flex-row justify-content-between">
        <p class="h4">Comprobantes de Pago</p>
        <button type="button" class="btn btn-primary"> + Agregas Solicitud</button>
    </div>

    <div class="d-flex flex-column flex-fill overflow-hidden">
        <ComprobanteDePagoBusqueda/>
    
        @if(MostrarDetalle)
        {
            <div class="row h-100 overflow-hidden mt-3 mb-3 flex-fill">
                <div class="col-6 h-100">
                    <div class="card rounded-4 p-3 h-100 overflow-scroll">
                        @for(int i = 0; i<10; i++){
                            <ComprobanteDePagoItem MuestraDetalle="@MostrarDetalle"/>
                        }           
                    </div>
                </div>
                <div class="col-6 h-100">
                    <ComprobanteDePagoDetalle/>
                </div>
            </div>
        }
        else
        {
            <div class="card rounded-4 mt-3 mb-3 p-3 flex-fill overflow-scroll">
                @for(int i = 0; i<10; i++){
                    <ComprobanteDePagoItem/>
                }           
            </div>
        }

    </div>

</div>

@code {
    private bool MostrarDetalle{ get; set; } = false;
}