<div class="card rounded-4 mt-3 p-3">
    <form>
        <div class="row">
            
            <div class="col-4">
                <input type="text" class="form-control bg-light" placeholder="Buscar Empleado">
            </div>
            <div class="col-1">
                <select class="form-control bg-light">
                    <option selected>Tipo</option>
                    <option>Boleta</option>
                    <option>Factura</option>
                </select>
            </div>
            <div class="col-2">
                <input type="date" class="form-control bg-light" id="fechaInicio" name="fecha_inicio" placeholder="Fecha">
            </div>
            <div class="col-2">
                <select class="form-control bg-light">
                    <option selected>Estado</option>
                    <option>Activo</option>
                    <option>Inactivo</option>
                </select>
            </div>
            <div class="col-2">
                <input type="text" class="form-control bg-light" placeholder="Total Máximo">
            </div>
            <button type="submit" class="btn btn-secondary col-1">Filtrar</button>
        </div>
    </form>
</div>

@code {
    
}
