@page "/Comprobantes de Pago/Detalle"
@inject NavigationManager Navigation

<div class="rounded-4 mb-3 p-3 h-100">

    <div class="row h-100">
        <div class="col-4 h-100">
            <ComprobanteDePagoSustento/>    
        </div>    
        <div class="col-8 h-100">
            <ComprobanteDePagoDatos EsCreacion="EsCreacion"/>
        </div>
    </div>
</div>


@code {
    private bool EsCreacion { get; set; } = false;
    [Parameter]
    public int IdComprobantePago{ get; set;}
    


}