@inherits LayoutComponentBase

<div class="d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(135deg, #0f172a 0%, #1a103c 50%, #2e0854 100%); font-family: 'Outfit', sans-serif;">
    @Body
</div>
