@inherits LayoutComponentBase

<div class="page d-flex flex-column vh-100 overflow-hidden">
    <header class="top-row">
        <Encabezado/>
    </header>
    <div class="sidebar">
        <NavMenu UsuarioCategoria="Tesoreria"/>
    </div>

    <main class="flex-fill d-flex flex-column overflow-hidden">
        <article class="content h-100">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


