@page "/usuarios"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="h-100 d-flex flex-column">
    
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <div>
            <p class="h3 mb-1">Gestión de Usuarios</p>
            <p class="text-muted mb-0">Administrar perfiles, roles, areas y estado de acceso</p>
        </div>

        <button type="button" class="btn btn-primary" @onclick="IrRegistrarUsuario"> + Agregar Usuario</button>
    </div>
        <div class="d-flex flex-column flex-fill overflow-hidden">
            
            <div class="row flex-fill mt-3 mb-3 overflow-hidden d-flex">

                <div class=" @(@MostrarDetalle? "col-6" : "col-12") h-100 d-flex flex-column overflow-hidden">
                    
                    <div class="card rounded-4 p-3 h-100 overflow-scroll">
                        @for (int i = 0; i < 10; i++)
                        {
                             <UsuarioItem OnMuestraDetalle="MostrarDetalleUsuario" />
                        }
                    </div>
                </div>
                @if (MostrarDetalle)
                {
                    <div class="col-6 h-100">
                        <UsuarioDetalle OnCerrarDetalle="CerrarDetalleUsuario"/>
                    </div>
                }
         </div>
    </div>
</div>

@code {
    private bool MostrarDetalle { get; set; } = false;
    
    private void IrRegistrarUsuario()
    {
        Navigation.NavigateTo("/usuarios/Crear");
    }
    
    private void MostrarDetalleUsuario()
    {
        MostrarDetalle = true;
    }

    private void CerrarDetalleUsuario()
    {
        MostrarDetalle = false;
    }
}
