@page "/areas"

@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IAreaWS AreaWS

<div class="h-100 d-flex flex-column">

    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <div>
            <p class="h4 mb-1">Gestión de Áreas</p>
            <p class="text-muted mb-0">Listado de áreas operativas del sistema</p>
        </div>

        <button type="button"
                class="btn btn-primary"
                @onclick="IrRegistrarArea">

            + Agregar Área

        </button>
    </div>
    
    <div class="d-flex flex-column flex-fill overflow-hidden">

        <div class="row flex-fill mt-3 mb-3 overflow-hidden d-flex">

            <div class=" @(@MostrarDetalle? "col-6" : "col-12") h-100 d-flex flex-column overflow-hidden">

                <div class="card rounded-4 p-3 h-100 overflow-scroll">

                    @if (Areas.Count == 0)
                    {
                        <p class="h2 justify-content-center align-content-center align-items-center align-self-center">No hay Areas Disponibles</p>
                    }
                    else
                    {
                        foreach(Area area in Areas)
                        {
                             <AreaItem OnMuestraDetalle="MostrarDetalleArea" Area="area"/>
                        }
                    }
                </div>

            </div>
            @if (MostrarDetalle)
            {
                <div class="col-6 h-100">
                    <AreaDetalle OnCerrarDetalle="CerrarDetalleArea"/>
                </div>
            }
        </div>

    </div>

</div>

@code {
    //Atributos
    private bool MostrarDetalle { get; set; } = false;
    private List<Area> Areas { get; set; } = new List<Area>();

    //Navegacion
    private void IrRegistrarArea()
    {
        Navigation.NavigateTo("/area/Crear");
    }
    //Detalle
    private void MostrarDetalleArea()
    {
        MostrarDetalle = true;
    }
    private void CerrarDetalleArea()
    {
        MostrarDetalle = false;
    }
    
    //Al inicio
    protected override void OnInitialized()
    {
        
    }

    //Listar
    protected override async Task OnInitializedAsync()
    {
        await ListarAreas();   
    }
    protected async Task ListarAreas()
    {
        Areas = await Task.Run(() => 
            new List<Area>(AreaWS.listar()));
    }
    

}


