<div class="card rounded-4 p-3 bg-light d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-column justify-content-between">
        <p class="h5 mb-1">@Transaccion?.Beneficiario?.Nombres @Transaccion?.Beneficiario?.ApellidoPaterno</p>
        <p class="text-muted mb-1">@Transaccion?.TipoTransaccion</p>
        <p class="text-muted mb-1">Fecha: @(Transaccion == null || Transaccion.Fecha == default ? "-" : Transaccion.Fecha.ToString("yyyy-MM-dd"))</p>
    </div>
    <div class="d-flex flex-row justify-content-between align-items-center gap-3">
        <div class="d-flex align-items-center gap-3">
            <p class="h4">@(Transaccion?.Moneda?.Simbolo ?? "S/") @Transaccion?.Monto.ToString("N2")</p>
        </div>
        <div class="d-flex flex-column justify-content-center gap-2">
            <span class="badge h-100 bg-warning-subtle text-warning-emphasis rounded-pill px-2">@Transaccion?.MedioPago</span>
        </div>
        <button class="btn btn-outline-primary" @onclick="AbrirDetalle">Ver</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<Transaccion> OnMuestraDetalle { get; set; }

    [Parameter]
    public Transaccion? Transaccion { get; set; }

    public async Task AbrirDetalle()
    {
        if (Transaccion != null)
            await OnMuestraDetalle.InvokeAsync(Transaccion);
    }
}
