@page "/Transacciones"

<div class="h-100 d-flex flex-column">
    <div class="d-flex flex-row justify-content-between mb-2">
        <p class="h4">Transacciones</p>
    </div>

    <div class="d-flex flex-column flex-fill overflow-hidden">
        <TransaccionBusqueda/>

        <div class="row flex-fill mt-3 mb-3 overflow-hidden d-flex">
            
            @if (MuestraDetalle)
            {
                <div class="col-6 h-100 d-flex flex-column overflow-hidden">
                
                    <div class="card h-100 rounded-4 p-3 overflow-auto gap-3">
                        @for(int i = 0; i < 20; i++){
                            <TransaccionItem OnMuestraDetalle="MostrarDetalleTransaccion"/>
                        }   
                    </div>
                </div>
                
                <div class="col-6">
                    <TransaccionDetalle OnCierraDetalle="CierraDetalleTransaccion"/>
                </div>
            }
            else
            {
                <div class="col-12 h-100 d-flex flex-column overflow-hidden">
                
                    <div class="card h-100 rounded-4 p-3 overflow-auto gap-3">
                        @for(int i = 0; i < 20; i++){
                            <TransaccionItem OnMuestraDetalle="MostrarDetalleTransaccion"/>
                        }   
                    </div>
                </div>
                
            }

        </div>
    </div>
</div>

@code {
    private bool MuestraDetalle { get; set; } = false;
    private void MostrarDetalleTransaccion()
    {
        MuestraDetalle = true;
    }
    private void CierraDetalleTransaccion()
    {
        MuestraDetalle = false;
    }
}