@page "/dashboard"
@page "/caja chica"
@using System.Collections.Generic;
@using EconomixWA.Components.Pages.MainDashBoard;
@using EconomixWA.Components.Pages.SolicitudDeGasto.SolicitudRecibida;
@using EconomixWA.Components.Pages.SolicitudDeGasto;
@using EconomixWA.Components.Pages.Actividad;



<PageTitle>Dashboard</PageTitle>

<div class ="d-flex flex-column h-100">
    
    <div class="d-flex flex-column pb-3">
        <p class="h4">Buenos días Isabel Allende</p>    
        <p class="h6">Area de: Recursos Humanos</p>
    </div>

    
    @switch(Rol){
        case "Jefe":
            <DashboardJefe/>
            <div class="row mt-3 overflow-hidden pb-3">
                <div class="col-6 h-100">
                    <div class="card rounded-4 pt-3 h-100 d-flex flex-column">
                        <h5 class="h2 ms-3">Solicitudes de gasto pendientes</h5>
                        <div class="overflow-scroll flex-fill pb-3">
                            @foreach(String nombre in Nombres){
                                <SolicitudDeGastoPendiente Nombre="@nombre"/>
                            }
                        </div>
                    </div>    
                </div>
                <div class="col-6 h-100">
                    <div class="card rounded-4 pt-3 h-100 d-flex flex-column">     
                        <h5 class="h2 ms-3">Acciones Recientes</h5>
                        <div class="overflow-scroll flex-fill">
                            @for(int i = 0; i < 100; i++){
                               <ActividadRecienteItem/>
                            }
                        </div>
                    </div>    
                </div>
            </div>
            break;
        case "Empleado":
            <DashboardEmpleado/>
            break;
        case "Tesoreria":
            <DashboardTesoreria/>
            break;
        case "Administrador":
            <DashboardAdministrador/>
            break;
        default:
            break;
    }
</div>

@code{
    public String Rol {get;set;} = "Jefe";
    public List<String> Nombres = new List<String>(){"Mario Hugo", "Tulio Tribiño", "Gregorio Samsaaaa", "Juan Carlos BOdoque",
                                                        "Mario Hugo", "Tulio Tribiño", "Gregorio Samsaaaa", "Juan Carlos BOdoque",
    
                                                    
                                                    string.Empty};

}



