<div class="row">
    <div class="col-8">
        <div class="card">
            Formulario Principal
        </div>
    </div>
    <div class="col-4">
        <MiSolicitudDeGastoSeguimiento/>
    </div>
</div>

@code {
    
}
