@page "/mis solicitudes de gasto"

<div class="d-flex flex-row justify-content-between">
    <p class="h4">Solicitudes de gasto de Isabel Allende</p>
    <button type="button" class="btn btn-primary"> + Agregas Solicitud</button>
</div>
<div class="d-flex flex-column">
    <SolicitudDeGastoBusqueda/>
    <div class="card rounded-4 mt-3 p-3">
        <!--Se implementará cuando de se visualize o cuando se cree un o nuevo "<MiSolicitudDeGastoDetalle/> "-->
        <!--TODO: Hacer  un haeader o usar Un componente para la tabla completa-->
        @for(int i = 0; i< 10; i++){
            <MiSolicitudDeGastoItem/>
        }   
         
    </div>
</div>




@code {
    private String Nombre{get;set;} = "a";
}
