@page "/Mis Solicitudes De Gasto"
@inject NavigationManager Navigation

<div class="h-100 d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
        <p class="h4">Solicitudes de gasto de Isabel Allende</p>
        <button type="button" class="btn btn-primary" @onclick="IrDetalleSolicitud"> + Agregas Solicitud</button>
    </div>

    <div class="d-flex flex-column flex-fill overflow-hidden">
        <SolicitudDeGastoBusqueda/>
        
        <div class="card h-100 rounded-4 mt-3 mb-3 p-3 overflow-scroll gap-3">
            @for(int i = 0; i< 100; i++){
                <MiSolicitudDeGastoItem/>
            }
        </div>
    </div>
</div>

@code {
    private String Nombre{get;set;} = "a";
    private void IrDetalleSolicitud()
    {
        Navigation.NavigateTo("/Mis Solicitudes De Gasto/Detalle");
    }

}
