<div class="card rounded-4 p-3 mb-3 bg-light h-100">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-start align-items-start gap-3">
                <p class="h5">SG-123</p>
                <span class=" badge bg-warning-subtle text-warning-emphasis rounded-pill">Urgente</span>
            </div>
            <div class="d-flex flex-column justify-content-start">
                <p class="text-muted m-0">23/04/2025</p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between align-items-center gap-3">
            <div class="d-flex align-items-center gap-3">
                <p class="h4">S/. 500.00</p>
            </div>
            <div class="d-flex flex-column justify-content-center gap-2">
                <span class="badge h-100 bg-warning-subtle text-warning-emphasis rounded-pill px-2">Pendiente</span>
            </div>
            <button class="btn btn-primary" @onclick="AbrirDetalle">Ver</button> <!-- Este botón podría abrir el detalle de la transacción -->
        </div>
    </div>
        
    
</div>

@code {
    [Parameter]
    public EventCallback OnMuestraDetalle {get; set;}

    public async Task AbrirDetalle()
    {
        await OnMuestraDetalle.InvokeAsync();
    }
    
}
