<div id="cards-container" class="row">
        <div id="card-container" class="col-3">
            <div class="card rounded-4 h-100" >
                <div class="card-body ">
                    <h6 class="card-subtitle mb-2 text-body-primary">Saldo de Caja Chica</h6>
                    <p class="card-text h2">s/. 15,400.00</p>
                </div>
            </div>
        </div>
        <div id="card-container" class="col-3">
            <div class="card rounded-4 h-100" >
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-primary">Pendientes de Aprobación</h6>
                    <p class="card-text h2">8</p>
                    <p class="card-text text-warning">3 Urgente</p>
                </div>
            </div>
        </div>
        <div id="card-container" class="col-3">
            <div class="card rounded-4 h-100">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-primary">Gastos del Ciclo</h6>
                    <p class="card-text h2">s/. 6,700.00</p>
                    <p class="card-text">18 Transacciones</p>
                </div>
            </div>
        </div>
        <div id="card-container" class="col-3">
            <div class="card rounded-4 h-100" >
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-body-primary">Rendiciones Completadas</h6>
                    <p class="card-text h2">2</p>
                </div>
            </div>
        </div>
    </div>

@code {
    
}
