<div class="card rounded-4 mt-3 p-3">
    <form>
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Buscar Solicitud de gasto">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Estado">
            </div>
            <div class="col-2">
                <input type="text" class="form-control" placeholder="Monto">
            </div>
            <div class="col-1">
                <input type="text" class="form-control" placeholder="Fecha">
            </div>
            <button type="submit" class="btn btn-secondary col-1">Filtrar</button>
        </div>
    </form>
</div>

@code {
    
}
