@page "/Solicitudes De Gasto"
@inject NavigationManager Navigation

<div class="h-100 d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
        <p class="h4">Solicitudes de gasto para Isabel Allende</p>
        
    </div>

    <div class="d-flex flex-column flex-fill overflow-hidden">
        <SolicitudDeGastoBusqueda/>
        
        <div class="row flex-fill mt-3 mb-3 overflow-hidden d-flex">

            @if(MostrarDetalle)
            {
                <div class="col-6 h-100 d-flex flex-column overflow-hidden">    
                    <div class="card rounded-4 p-3 h-100 overflow-scroll">
                        @for(int i = 0; i<10; i++){
                            
                            <SolicitudDeGastoRecibidaItem OnMuestraDetalle="MostrarDetalleSolicitud"/>
                        }           
                    </div>
                </div>
            
                <div class="col-6 h-100">
                    <SolicitudDeGastoRecibidaDetalle OnCierraDetalle="CerrarDetalleSolicitud"/>
                </div>
                
            }
            else
            {
                <div class="col-12 h-100 d-flex flex-column overflow-hidden">

                    <div class="card rounded-4 mt-3 mb-3 p-3 flex-fill overflow-scroll">
                        @for(int i = 0; i<10; i++){
                            <SolicitudDeGastoRecibidaItem OnMuestraDetalle="MostrarDetalleSolicitud"/>
                        }           
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    private void IrDetalleSolicitud()
    {
        Navigation.NavigateTo("/Mis Solicitudes De Gasto/Detalle");
    }
    private bool MostrarDetalle{get;set;} = false;
    public void MostrarDetalleSolicitud()
    {
        MostrarDetalle = true;
    }
    public void CerrarDetalleSolicitud()
    {
        MostrarDetalle = false;
    }

}
