<div class="card rounded-4 border-light-subtle shadow-sm m-3" style="background-color: rgb(248,250,252);">
    <div class="row align-items-center g-0 p-3">
        <div class="col-5 d-flex flex-column pr-2">
            <div class="d-flex align-items-center gap-2 mb-1">
                <h4 class="h5 text-dark text-truncate mb-0" style="max-width: 100%;">
                    @Nombre
                </h4>
                @if(!string.IsNullOrEmpty(Prioridad))
                {
                    <span class="badge bg-warning-subtle text-warning-emphasis rounded-pill px-2">
                        @Prioridad
                    </span>
                }
            </div>
            <p class="small text-muted mb-1 text-truncate">@Concepto</p>
            <p class="small text-secondary mb-0" style="font-size: 0.75rem;">
                @Fecha.ToString("dd/MM/yyyy")
            </p>
        </div>
        
        <div class="col-4 text-center">
            <p class="h5">
                @IsoMoneda @Monto.ToString("N2")
            </p>
        </div>
        
        <div class="col-3 d-flex justify-content-end gap-2">
            <button type="button" class="btn btn-success btn-sm px-3 rounded-3">Aceptar</button>
            <button type="button" class="btn btn-danger  btn-sm px-3 rounded-3">Rechazar</button>
        </div>
        
    </div>
</div>

@code {
    [Parameter] public string Nombre { get; set; } = "";
    [Parameter] public string Concepto { get; set; } = "Compra de Libros";
    [Parameter] public DateTime Fecha { get; set; } = DateTime.Now;
    [Parameter] public string Prioridad { get; set; } = "Urgente";
    [Parameter] public string IsoMoneda { get; set; } = "S/.";
    [Parameter] public double Monto { get; set; } = 500.00;

}